<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="nilnul.dev.srcs._bak.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="nilnul.dev.src.synd.dir_.deps_.unoccupied01empty.mksym.attempt._tgtSrcDir.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="nilnul.dev.src.sln.sub.synd.prj.nomina.choose_._intervened.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="nilnul.dev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="nilnul.dev.srcs.bak_._retVoid.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.6" newVersion="6.0.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.1" newVersion="1.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._fs_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.1" newVersion="2.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.8272.35271" newVersion="2.1.8272.35271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8236.38875" newVersion="2.0.8236.38875" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8236.38558" newVersion="1.0.8236.38558" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._win_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="_nilnul_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._time_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._num_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._acc_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7838.23569" newVersion="1.0.7838.23569" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._web_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8174.38029" newVersion="1.0.8174.38029" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._acc_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8118.34149" newVersion="2.0.8118.34149" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._geometry_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7938.39007" newVersion="1.0.7938.39007" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num.real._matrix_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8219.18843" newVersion="1.0.8219.18843" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.geometry._planar_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8212.37496" newVersion="1.0.8212.37496" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Octokit" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.51.0.0" newVersion="0.51.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._complex_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8212.4377" newVersion="1.0.8212.4377" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.0.131" newVersion="6.3.0.131" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.0.131" newVersion="6.3.0.131" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.0.131" newVersion="6.3.0.131" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.0.0.0" newVersion="19.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.0.0.0" newVersion="19.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Core.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.0.0.0" newVersion="19.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <nilnul.dev.srcs._bak.Settings1>
      <setting name="bakBranch" serializeAs="String">
        <value>bak</value>
      </setting>
      <setting name="tmpBranch" serializeAs="String">
        <value>tmp</value>
      </setting>
      <setting name="moduleRemoteKeysVs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>vs</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="moduleRemoteKeysBitbucket" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>bitBucket</string>
            <string>bitbucket</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="moduleRemoteKeysAws" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>aws</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="moduleRemoteKeysGitlab" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>gitLab</string>
            <string>gitlab</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="moduleRemoteKeysVsGlAwsBb" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>vsGlAwsBb</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vsPrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="vsAcc" serializeAs="String">
        <value />
      </setting>
    </nilnul.dev.srcs._bak.Settings1>
    <nilnul.dev.src.synd.dir_.deps_.unoccupied01empty.mksym.attempt._tgtSrcDir.Settings1>
      <setting name="dnt" serializeAs="String">
        <value>(packages)</value>
      </setting>
    </nilnul.dev.src.synd.dir_.deps_.unoccupied01empty.mksym.attempt._tgtSrcDir.Settings1>
    <nilnul.dev.src.sln.sub.synd.prj.nomina.choose_._intervened.Settings1>
      <setting name="Setting" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Octokit: nilnul.fs._git_\svr_\github\client\octokit.net(!bak\Octokit\</string>
          </ArrayOfString>
        </value>
      </setting>
    </nilnul.dev.src.sln.sub.synd.prj.nomina.choose_._intervened.Settings1>
    <nilnul.dev.Properties.Settings>
      <setting name="folder_srcCfg_doc" serializeAs="String">
        <value>.nilnulCfg</value>
      </setting>
      <setting name="src_destination_my" serializeAs="String">
        <value>my</value>
      </setting>
      <setting name="src_destination_pub" serializeAs="String">
        <value>pub</value>
      </setting>
      <setting name="src_destination" serializeAs="String">
        <value>src_</value>
      </setting>
      <setting name="src_destination_nilnul" serializeAs="String">
        <value>nilnul</value>
      </setting>
      <setting name="srcsParent" serializeAs="String">
        <value />
      </setting>
      <setting name="divisionInPersonal4srcsParent" serializeAs="String">
        <value>src_</value>
      </setting>
      <setting name="my_address" serializeAs="String">
        <value />
      </setting>
      <setting name="my_division_in_personal" serializeAs="String">
        <value />
      </setting>
      <setting name="tgt_address" serializeAs="String">
        <value />
      </setting>
      <setting name="tgt_division_in_my" serializeAs="String">
        <value>_tgt_</value>
      </setting>
      <setting name="upgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nugetPacsSrc_division" serializeAs="String">
        <value>_dev_/_nuget_/_src_</value>
      </setting>
      <setting name="srcDirS" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>_my_</string>
            <string>_pub_</string>
            <string>_nilnul_</string>
            <string>_team1_</string>
          </ArrayOfString>
        </value>
      </setting>
    </nilnul.dev.Properties.Settings>
    <nilnul.dev.srcs.bak_._retVoid.Settings1>
      <setting name="bakBranch" serializeAs="String">
        <value>bak</value>
      </setting>
      <setting name="tmpBranch" serializeAs="String">
        <value>tmp</value>
      </setting>
      <setting name="moduleRemoteKeysVs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>vs</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="moduleRemoteKeysBitbucket" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>bitBucket</string>
            <string>bitbucket</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="moduleRemoteKeysAws" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>aws</string>
            <string>aw</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="moduleRemoteKeysGitlab" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>gitLab</string>
            <string>gitlab</string>
            <string>gl</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="moduleRemoteKeysVsGlAwsBb" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>awVsGlBb</string>
            <string>awGlBbVs</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vsPrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="vsAcc" serializeAs="String">
        <value />
      </setting>
      <setting name="moduleRemoteAwGlVs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>bak_awGlVs</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="module2bak" serializeAs="String">
        <value />
      </setting>
    </nilnul.dev.srcs.bak_._retVoid.Settings1>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>