<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.250926.84614" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.250926.84614" targetFramework="net48" />
  <package id="AWSSDK.CodeCommit" version="4.0.100.5" targetFramework="net48" />
  <package id="AWSSDK.Core" version="4.0.100.6" targetFramework="net48" />
  <package id="Azure.Core" version="1.60.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.21.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.2" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient" version="7.0.2" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.Extensions.Abstractions" version="7.0.2" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.Internal.Logging" version="7.0.2" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.SNI" version="6.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.86.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.86.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.19.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.19.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="8.19.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="8.19.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="8.19.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.19.2" targetFramework="net48" />
  <package id="Microsoft.Msagl" version="1.1.6" targetFramework="net481" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.6" targetFramework="net481" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.1.7" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net48" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="20.256.2" targetFramework="net48" />
  <package id="Microsoft.TeamFoundationServer.Client" version="20.256.2" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Services.Client" version="20.256.2" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net48" />
  <package id="nilnul._acc_._LIB_" version="2.1.241204.115319" targetFramework="net48" />
  <package id="nilnul._acc_._LINQ_" version="1.1.241204.115016" targetFramework="net48" />
  <package id="nilnul._app_._LIB_" version="1.1.250821.73525" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.260110.133950" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.250403.154606" targetFramework="net48" />
  <package id="nilnul._collective_._LIB__" version="1.0.250314.91731" targetFramework="net48" />
  <package id="nilnul._data_._LIB_" version="1.1.250106.92030" targetFramework="net48" />
  <package id="nilnul._discrete_._LIB_" version="1.0.251212.133353" targetFramework="net48" />
  <package id="nilnul._fs_._LIB_" version="2.1.250828.165121" targetFramework="net48" />
  <package id="nilnul._fs_._LINQ_" version="1.1.250828.165121" targetFramework="net48" />
  <package id="nilnul._geometry_._LIB_" version="1.0.250905.105258" targetFramework="net48" />
  <package id="nilnul._lang_._LIB_" version="1.1.260604.82052" targetFramework="net48" />
  <package id="nilnul._linq_._LIB_" version="1.1.240824.153439" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.260506.25148" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.260506.23104" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.260718.51051" targetFramework="net48" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.241001.153554" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.260718.152323" targetFramework="net48" />
  <package id="nilnul._relation_._LIB_" version="1.0.250323.170516" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.251123.62519" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.260629.93609" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.260628.111004" targetFramework="net48" />
  <package id="nilnul._web_._LIB_" version="1.1.250207.122711" targetFramework="net48" />
  <package id="nilnul._win_._LIB_" version="1.1.250726.143211" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.250227.70442" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.241123.135147" targetFramework="net48" />
  <package id="nilnul.fs._git_._LIB_" version="2.1.260322.94918" targetFramework="net48" />
  <package id="nilnul.fs.git.svr_.gitlab.client_.GitLabApiClient" version="1.20.0" targetFramework="net48" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.251019.71911" targetFramework="net48" />
  <package id="nilnul.lang_._cognom_._LIB_" version="2.0.250301.125903" targetFramework="net48" />
  <package id="nilnul.lang_._cot_._LIB_" version="2.0.240820.192426" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.250413.152254" targetFramework="net48" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.251120.143111" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.260116.21753" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.260121.152518" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.260123.130304" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.250413.134211" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.260118.44254" targetFramework="net48" />
  <package id="nilnul.num.real._stream_._LIB_" version="1.0.250211.94435" targetFramework="net48" />
  <package id="nilnul.rel._graph_._LIB_" version="1.1.250212.175003" targetFramework="net48" />
  <package id="NuGet.Common" version="7.6.0" targetFramework="net48" />
  <package id="NuGet.Configuration" version="7.6.0" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="7.6.0" targetFramework="net48" />
  <package id="NuGet.Packaging" version="7.6.0" targetFramework="net48" />
  <package id="NuGet.Versioning" version="7.6.0" targetFramework="net48" />
  <package id="Octokit" version="14.0.0" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.250326.50838" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.ClientModel" version="1.14.0" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.10" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="10.0.10" targetFramework="net48" />
  <package id="System.Console" version="4.3.1" targetFramework="net48" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.10" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.10" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.19.2" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.10" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Memory.Data" version="10.0.10" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="10.0.10" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="10.0.10" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.10" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.10" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net481" />
  <package id="System.Threading" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Channels" version="10.0.10" targetFramework="net48" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net48" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net48" />
</packages>